[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.2.0"

[dev-packages]
pyinstrument = "*"
yappi = "*"
line-profiler = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
